<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Student Office</title>
    <!--/*/ <th:block th:include="fragments/headerinc::head"></th:block> /*/-->
</head>
<body>

<!--/*/ <th:block th:include="fragments/student_header::header"></th:block> /*/-->

<div class="container-fluid classroomInfo">
    <div class="row">
        <div class="col-6 text-left">
            <span th:text="${classroom.getTeacher().getSubject()}"></span>
        </div>
        <div class="col-6 text-right">
            <span th:text="${classroom.getTeacher().getFirstName()} + ' ' + ${classroom.getTeacher().getLastName()}"></span>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <div id="classrooms" class="col-lg-12 work-space clear">
            <div th:each="test : ${classroom.getTests()}">
                <form th:action="@{/student/chooseTest}">
                    <button type="submit" class="test">
                        <div class="startTest justify-content-center">
                            <i class="fa fa-caret-right"></i>
                        </div>
                        <h3 th:text="${test.name}">Test Name</h3>
                        <p><span>Time:</span><b th:text="${test.time}+':00'">15:00</b></p>
                        <p><span>Max mark:</span><b th:text="${test.maxMark}">12</b></p>
                    </button>
                    <input type="hidden" name="teachersUsername" th:value="${test.getTeacher().getEmail()}"/>
                    <input type="hidden" name="test" th:value="${test.name}"/>
                </form>
            </div>

        </div>

    </div>
</div>
</body>
</html>
