<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Error</title>
    <!--/*/ <th:block th:include="fragments/headerinc::head"></th:block> /*/-->
</head>
<body id="errorPage">
<br/>
<div class="container text-center">
    <h1>Oops!</h1>
    <h2>An error occurred</h2>
    <div th:if="${errorMessage!=null}">
        <h5>Error Details:</h5>
        <h4 th:text="${errorMessage}"></h4>
    </div>
    <br/>
    <a href="/home" class="btn btn-primary btn-lg"><i class="fas fa-home"></i> Take Me Home</a>
</div>

</body>
</html>