<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Registration Form</title>
    <!--/*/ <th:block th:include="fragments/headerinc::head"></th:block> /*/-->
</head>
<body>
<script th:inline="javascript">
    /*<![CDATA[*/
    $(document).ready(function () {
        if ([[${successMessage}]] != null) {
            $('.successRegister').show();
        }
    });
    /*]]>*/
</script>
<div class="alert alert-success alert-dismissible fade show successRegister">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
    <strong>Success!</strong> <span th:utext="${successMessage}"></span>
</div>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-6">
            <h2>Registration Form</h2>
            <p>Registration as:</p>
            <form th:action="@{/registration/chooseRole}">
                <div style="margin-bottom: 20px;" class="row">
                    <div class="col-2">
                        <input type="submit" class="btn"
                               th:classappend="${role=='student'} ? btn-primary : btn-outline-primary" name="role"
                               value="Student"/>
                    </div>
                    <div class="col-2">
                        <input type="submit" class="btn btn-primary"
                               th:classappend="${role=='teacher'} ? btn-primary : btn-outline-primary" name="role"
                               value="Teacher"/>
                    </div>
                </div>
            </form>
            <div th:switch="${role}">
                <div th:case="'student'">
                    <form autocomplete="off" action="#" th:action="@{{role}/registration(role=${role})}"
                          th:object="${student}" method="post" class="form-horizontal"
                          role="form">

                        <div class="form-group">
                            <div class="col-sm-9">
                                <input type="text" th:field="*{firstName}" placeholder="Name"
                                       class="form-control"/>
                                <label th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}"
                                       class="validation-message"></label>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-sm-9">
                                <input type="text" th:field="*{lastName}"
                                       placeholder="Last Name" class="form-control"/>
                                <label th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}"
                                       class="validation-message"></label>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-sm-9">
                                <input type="text" th:field="*{email}" placeholder="Email"
                                       class="form-control"/>
                                <label th:if="${#fields.hasErrors('email')}" th:errors="*{email}"
                                       class="validation-message"></label>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-sm-9">
                                <input type="password" th:field="*{password}"
                                       placeholder="Password" class="form-control"/>
                                <label th:if="${#fields.hasErrors('password')}" th:errors="*{password}"
                                       class="validation-message"></label>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-sm-9">
                                <input type="password" th:field="*{confirmPassword}"
                                       placeholder="Confirm Password" class="form-control"/>
                                <label th:if="${#fields.hasErrors('confirmPassword')}" th:errors="*{confirmPassword}"
                                       class="validation-message"></label>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-sm-9">
                                <input type="number" min="1" max="11" step="1" th:field="*{grade}"
                                       placeholder="Grade" class="form-control"/>
                                <label th:if="${#fields.hasErrors('grade')}" th:errors="*{grade}"
                                       class="validation-message"></label>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-sm-9">
                                <button type="submit" class="btn btn-primary btn-block">Register student</button>
                                <a style="margin-top: 20px;" class="btn btn-primary btn-block" th:href="@{/login}">Go to login</a>
                            </div>
                        </div>
                    </form>
                </div>
                <div th:case="'teacher'">
                    <form autocomplete="off" action="#" th:action="@{/{role}/registration(role=${role})}"
                          th:object="${teacher}" method="post" class="form-horizontal"
                          role="form">

                        <div class="form-group">
                            <div class="col-sm-9">
                                <input type="text" th:field="*{firstName}" placeholder="Name"
                                       class="form-control"/>
                                <label th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}"
                                       class="validation-message"></label>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-sm-9">
                                <input type="text" th:field="*{lastName}"
                                       placeholder="Last Name" class="form-control"/>
                                <label th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}"
                                       class="validation-message"></label>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-sm-9">
                                <input type="text" th:field="*{email}" placeholder="Email"
                                       class="form-control"/>
                                <label th:if="${#fields.hasErrors('email')}" th:errors="*{email}"
                                       class="validation-message"></label>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-sm-9">
                                <input type="password" th:field="*{password}"
                                       placeholder="Password" class="form-control"/>
                                <label th:if="${#fields.hasErrors('password')}" th:errors="*{password}"
                                       class="validation-message"></label>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-sm-9">
                                <input type="password" th:field="*{confirmPassword}"
                                       placeholder="Confirm Password" class="form-control"/>
                                <label th:if="${#fields.hasErrors('confirmPassword')}" th:errors="*{confirmPassword}"
                                       class="validation-message"></label>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-sm-9">
                                <input type="text" th:field="*{subject}"
                                       placeholder="Subject" class="form-control"/>
                                <label th:if="${#fields.hasErrors('subject')}" th:errors="*{subject}"
                                       class="validation-message"></label>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-sm-9">
                                <button type="submit" class="btn btn-primary btn-block">Register teacher</button>
                                <a style="margin-top: 20px;" class="btn btn-primary btn-block" th:href="@{/login}">Go to login</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>

    </div>
</div>
</body>
</html>