<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Results</title>
    <!--/*/ <th:block th:include="fragments/headerinc::head"></th:block> /*/-->
</head>
<body>

<!--/*/ <th:block th:include="fragments/student_header::header"></th:block> /*/-->

<div class="container-fluid work-space">
    <h3>History</h3>
    <table class="table table-sm">
        <thead>
        <tr>
            <th scope="col">Subject</th>
            <th scope="col">Teacher</th>
            <th scope="col">Test name</th>
            <th scope="col">Amount of correct</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="correctAnswers : ${student.getStudentMarks()}">
            <td th:text="${correctAnswers.getTest().getTeacher().getSubject()}"></td>
            <td th:text="${correctAnswers.getTest().getTeacher().firstName}+' '+${correctAnswers.getTest().getTeacher().lastName}"></td>
            <td th:text="${correctAnswers.getTest().name}"></td>
            <td th:text="${correctAnswers.getCorrectAnswers()}+'/'+${correctAnswers.test.getGeneralAmountOfCorrect()}"></td>
        </tr>
        </tbody>
    </table>
    <br/>
    <h3>Marks</h3>
    <table class="table table-sm">
        <thead>
        <tr>
            <th scope="col">Test name</th>
            <th scope="col">Mark</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="testMark : ${testMarks}">
            <td th:text="${testMark.key}"></td>
            <td th:text="${testMark.value}"></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>
