<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Student Office</title>
    <!--/*/ <th:block th:include="fragments/headerinc::head"></th:block> /*/-->
</head>
<body>

<!--/*/ <th:block th:include="fragments/student_header::header"></th:block> /*/-->

<script th:inline="javascript">
    /*<![CDATA[*/
    $(document).ready(function(){
        if([[${successMessage}]]!=null){
            $('.successMessage').show();
        }
        if([[${error}]]!=null){
            $('.failMessage').show();
        }
    });
    /*]]>*/
</script>
<div class="alert alert-success alert-dismissible fade show successMessage">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
    <strong>Success!</strong> <span th:utext="${successMessage}"></span>
</div>

<div class="alert alert-warning alert-dismissible fade show failMessage">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
    <strong>Oops!</strong> <span th:utext="${error}"></span>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12 work-space clear">

            <div th:each="classroom : ${student.getClassrooms()}">
                <form th:action="@{/student/classroomDetails}">
                    <button type="submit" class="classroom">
                        <img th:src="@{/images/cs.png}" width="150px" height="150px"/>
                        <h3 th:text="${classroom.name}">Classroom name</h3>
                        <h5 th:text="${classroom.getTeacher().getSubject()}">Subject</h5>
                        <span th:text="${classroom.getTeacher().firstName}+' '+${classroom.getTeacher().lastName}">Teacher</span>
                    </button>
                    <input type="hidden" name="classroomKey" th:value="${classroom.key}"/>
                </form>
            </div>

            <button type="button" id="enterClassroom" class="classroom" data-toggle="modal"
                    data-target="#enterClassroomModal">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
                    <path d="M436 238H242V44c0-6.6-5.4-12-12-12h-12c-6.6 0-12 5.4-12 12v194H12c-6.6 0-12 5.4-12 12v12c0 6.6 5.4 12 12 12h194v194c0 6.6 5.4 12 12 12h12c6.6 0 12-5.4 12-12V274h194c6.6 0 12-5.4 12-12v-12c0-6.6-5.4-12-12-12z"/>
                </svg>
            </button>

            <div class="modal fade" id="enterClassroomModal" tabindex="-1" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Find Classroom</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <form th:action="@{/student/enterClassroom}">
                                <div class="form-group row">
                                    <label class="col-sm-3 col-form-label">Input key:</label>
                                    <div class="col-sm-9">
                                        <input type="text" class="form-control" name="key" placeholder="Key"/>
                                    </div>
                                </div>

                                <input type="hidden" name="username" th:value="${#httpServletRequest.remoteUser}"/>
                                <input class="btn btn-outline-primary" type="submit" value="Enter classroom"/>
                            </form>

                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

</body>
</html>