<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Teacher Office</title>
    <!--/*/ <th:block th:include="fragments/headerinc::head"></th:block> /*/-->
</head>
<body>

<!--/*/ <th:block th:include="fragments/teacher_header::header"></th:block> /*/-->
<script th:inline="javascript">
    /*<![CDATA[*/
    $(document).ready(function () {
        if ([[${successMessage}]] != null) {
            $('.successMessage').show();
        }
        if ([[${error}]] != null) {
            $('.failMessage').show();
        }
    });
    /*]]>*/
</script>
<div class="alert alert-success alert-dismissible fade show successMessage">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
    <strong>Success!</strong> <span th:utext="${successMessage}"></span>
</div>

<div class="alert alert-warning alert-dismissible fade show failMessage">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
    <strong>Oops!</strong> <span th:utext="${error}"></span>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12 work-space clear">

            <div th:each="classroom : ${teacher.getClassrooms()}">
                <form th:action="@{/teacher/classroomDetails}">
                    <button type="submit" class="teacher_classroom">
                        <h3 th:text="${classroom.name}">Classroom name</h3>
                        <p><span>Students:</span><b th:text="${classroom.getStudents().size()}">10</b></p>
                    </button>
                    <input type="hidden" name="classroomKey" th:value="${classroom.key}"/>
                </form>
            </div>

            <button type="button" id="createClassroom" class="teacher_classroom" data-toggle="modal"
                    data-target="#createClassroomModal">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
                    <path d="M436 238H242V44c0-6.6-5.4-12-12-12h-12c-6.6 0-12 5.4-12 12v194H12c-6.6 0-12 5.4-12 12v12c0 6.6 5.4 12 12 12h194v194c0 6.6 5.4 12 12 12h12c6.6 0 12-5.4 12-12V274h194c6.6 0 12-5.4 12-12v-12c0-6.6-5.4-12-12-12z"/>
                </svg>
            </button>

            <div class="modal fade" id="createClassroomModal" tabindex="-1" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Create Classroom</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <form th:action="@{/teacher/saveClassroom}" th:object="${newClassroom}">
                                <div class="form-group row">
                                    <label class="col-sm-6 col-form-label">Input classroom's name:</label>
                                    <div class="col-sm-6">
                                        <input type="text" th:field="*{name}" class="form-control" value="Name"/>
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label class="col-sm-6 col-form-label">Input unique key for students:</label>
                                    <div class="col-sm-6">
                                        <input type="text" th:field="*{key}" class="form-control" value="Key"/>
                                    </div>
                                </div>
                                <input type="hidden" name="teacherUsername"
                                       th:value="${#httpServletRequest.remoteUser}"/>
                                <input class="btn btn-outline-primary" type="submit" value="Save classroom"/>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


</body>
</html>