<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Teacher Office</title>
    <!--/*/ <th:block th:include="fragments/headerinc::head"></th:block> /*/-->
</head>
<body>

<!--/*/ <th:block th:include="fragments/teacher_header::header"></th:block> /*/-->
<div class="container-fluid classroomInfo">
    <div class="text-left">
        <span th:text="${classroom.name}"></span>
    </div>
</div>


<div class="container-fluid work-space">
    <h3>Students</h3>
    <table class="table table-sm">
        <thead>
        <tr>
            <th scope="col">№</th>
            <th scope="col">Name</th>
            <th scope="col">Email</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="student,status : ${classroom.getStudents()}">
            <th scope="row" th:text="${status.count}"></th>
            <td th:text="${student.firstName}+' '+${student.lastName}"></td>
            <td th:text="${student.email}"></td>
        </tr>
        </tbody>
    </table>

    <div class="row">
        <div id="classrooms" class="col-lg-12 work-space clear">
            <h3>Tests</h3>
            <div th:each="test : ${classroom.getTests()}">
                <form th:action="@{/teacher/testResults}">
                    <button type="submit" class="testResults">
                        <h3 th:text="${test.name}">Test Name</h3>
                    </button>
                    <input type="hidden" name="classroomKey" th:value="${classroom.key}"/>
                    <input type="hidden" name="testName" th:value="${test.name}"/>
                </form>
            </div>

        </div>

    </div>
</div>
</body>
</html>
