<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Test Creating</title>
    <!--/*/ <th:block th:include="fragments/headerinc::head"></th:block> /*/-->
</head>
<body>

<!--/*/ <th:block th:include="fragments/teacher_header::header"></th:block> /*/-->

<div class="container test-work-space">
    <div class="row">
        <div class="col-8">
            <p>Test name: <span th:text="${testName}">Test name</span></p>
            <p>Classrooms: <span th:each="classroom : ${classrooms}" th:text="${classroom.name} + ';'">Classroom</span></p>
        </div>
        <div class="col-2">
            <form th:action="@{deleteTest}">
                <input class="btn btn-link" type="submit" value="Delete test"/>
                <input type="hidden" name="username" th:value="${#httpServletRequest.remoteUser}"/>
                <input type="hidden" name="testName" th:value="${testName}"/>
            </form>
        </div>
        <div class="col-2">
            <form th:action="@{saveAndQuit}">
                <input class="btn btn-outline-primary" type="submit" value="Save test and quit"/>
                <input type="hidden" name="username" th:value="${#httpServletRequest.remoteUser}"/>
                <input type="hidden" th:each="classroom : ${classrooms}" name="classroomsKeys" th:value="${classroom.key}"/>
                <input type="hidden" name="testName" th:value="${testName}"/>
            </form>
        </div>
    </div>

    <form th:action="@{addQuestion}" th:object="${question}" method="post">
                <div class="form-group row">
                    <label class="col-form-label" th:text="${questionNumber}+'.'">Number of question</label>
                    <div class="col-sm-11">
                        <input type="text" class="form-control" placeholder="Input task" th:field="*{questionTask}"/>
                    </div>
                </div>
                <div class="form-group  row" th:each="answerNum : ${#numbers.sequence(1,4)}">
                    <label class="col-form-label" th:text="${answerNum}">Number of answer</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" placeholder="Input answer"
                               th:field="*{questionAnswers}" />
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" th:field="*{correctAnswers}" th:value="${answerNum}"/>
                    </div>
                </div>

        <input type="hidden" name="username" th:value="${#httpServletRequest.remoteUser}"/>
        <input type="hidden" name="testName" th:value="${testName}"/>
        <input type="hidden" name="questionNumber" th:value="${questionNumber}"/>
        <input type="hidden" th:each="classroom : ${classrooms}" name="classroomsKeys" th:value="${classroom.key}"/>
        <input style="margin-top: 20px;" class="btn btn-outline-primary" type="submit" value="Add question"/>
    </form>
</div>
</body>
</html>