<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Test Writing</title>
    <!--/*/ <th:block th:include="fragments/headerinc::head"></th:block> /*/-->
</head>
<body>
<nav class="navbar fixed-top test-header justify-content-between">
    <a class="navbar-brand" th:text="${#httpServletRequest.remoteUser}"></a>
    <div class="countdown"></div>
    <script th:inline="javascript">
        /*<![CDATA[*/
        $(document).ready(function () {
            if([[${result}]]!=null){
                $('#result').modal();
            } else{
                countdown([[${test.time}]]+":00");
            }
        });
        /*]]>*/
    </script>
</nav>

<div class="modal fade" id="result" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <p th:text="'Your amount of correct answers is ' + ${result}
                 + ' from ' +${test.getGeneralAmountOfCorrect()}+ ' in test '+${test.name}"></p>
                <button type="button" class="btn btn-success" data-dismiss="modal">Ok</button>
            </div>
        </div>
    </div>
</div>

<div class="container test-work-space">
    <form id="submitResults" th:action="@{/student/submitResults}" th:object="${userResult}">
        <div class="question" th:each="question,questionStat : ${test.getQuestionsList()}">
            <pre th:each="line : ${question.getQuestionTask()}" th:text="${line}"></pre>
            <div class="form-check" th:each="line,status : ${question.getQuestionAnswers()}">
                <label>
                    <input th:type="${question.correctAnswers.size()==1} ? 'radio' : 'checkbox'"
                           th:field="*{userResult[__${questionStat.count}__]}"  th:value="${status.count}"/>
                    <span class="label-text" th:text="${line}"></span>
                </label>
            </div>
            <input type="hidden" th:field="*{userResult[__${questionStat.count}__]}" value="100"/>
        </div>
        <input type="hidden" name="teachersUsername" th:value="${test.getTeacher().getEmail()}"/>
        <input type="hidden" name="studentUsername" th:value="${#httpServletRequest.remoteUser}"/>
        <input type="hidden" name="testName" th:value="${test.name}"/>
        <input style="margin-top: 20px;" class="btn btn-outline-success" type="submit" value="Send"/>
    </form>

</div>

</body>
</html>