<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Test Creating</title>
    <!--/*/ <th:block th:include="fragments/headerinc::head"></th:block> /*/-->
</head>
<body>

<!--/*/ <th:block th:include="fragments/teacher_header::header"></th:block> /*/-->

<br/>
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12 test-work-space clear">
            <div th:switch="${type}">
                <div th:case="'file'">
                    <form method="POST" th:action="@{/teacher/testCreating/byParsingFile}"
                          enctype="multipart/form-data" class="form justify-content-center text center">

                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label">Input test's name:</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" placeholder="Test name" name="testName" required="required"/>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Input max mark for the test:</label>
                            <div class="col-sm-2">
                                <input class="form-control" type="number" min="1" step="1" name="mark"
                                       placeholder="Max mark" required="required"/>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Input max time for passing:</label>
                            <div class="col-sm-3">
                                <input class="form-control" type="number" min="1" step="1" name="time"
                                       placeholder="Time (in minutes)" required="required"/>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-form-label">Check for what classrooms you want to add this test:</label>
                            <div th:each="classroom : ${teacher.getClassrooms()}" class="form-check">
                                <input class="form-check-input" type="checkbox" name="classroomsKeys"
                                       th:value="${classroom.key}"/>
                                <label th:text="${classroom.name}" class="form-check-label">
                                    Classroom's name
                                </label>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label">Upload file:</label>
                            <div class="col-sm-10">
                                <input type="file" name="file" class="form-control-file" required="required"/>
                            </div>
                        </div>

                        <input type="hidden" name="username" th:value="${#httpServletRequest.remoteUser}"/>
                        <input class="btn btn-outline-primary" type="submit" value="Create Test"/>
                    </form>
                </div>
                <div th:case="'interface'">
                    <form method="POST" th:action="@{/teacher/testCreating/byInterface}" enctype="multipart/form-data"
                          class="form justify-content-center text center">
                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label">Input test's name:</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" placeholder="Test name" name="testName" required="required"/>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Input max mark for the test:</label>
                            <div class="col-sm-2">
                                <input class="form-control" type="number" min="1" step="1" name="mark"
                                       placeholder="Max mark" required="required"/>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Input max time for passing:</label>
                            <div class="col-sm-3">
                                <input class="form-control" type="number" min="1" step="1" name="time"
                                       placeholder="Time (in minutes)" required="required"/>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-form-label">Check for what classrooms you want to add this test:</label>
                            <div th:each="classroom : ${teacher.getClassrooms()}" class="form-check">
                                <input class="form-check-input" type="checkbox" name="classroomsKeys"
                                       th:value="${classroom.key}"/>
                                <label th:text="${classroom.name}" class="form-check-label">
                                    Classroom's name
                                </label>
                            </div>
                        </div>

                        <input type="hidden" name="username" th:value="${#httpServletRequest.remoteUser}"/>
                        <input class="btn btn-outline-primary" type="submit" value="Create Test"/>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="question" th:each="question,questionStat : ${questions}">
        <pre th:each="line : ${question.getQuestionTask()}" th:text="${line}"></pre>
        <div class="form-check" th:each="line,status : ${question.getQuestionAnswers()}">
            <label>
                <input th:type="${question.correctAnswers.size()==1} ? 'radio' : 'checkbox'"
                       th:value="${status.count}" th:name="${questionStat.count}"/>
                <span class="label-text" th:text="${line}"></span>
            </label>
        </div>
    </div>

    <br/>
    <div th:if="${questions!=null}" class="row">
        <div class="col-2">
            <form th:action="@{/teacher/testCreating/deleteTest}">
                <input class="btn btn-link" type="submit" value="Delete test"/>
                <input type="hidden" name="username" th:value="${#httpServletRequest.remoteUser}"/>
                <input type="hidden" name="testName" th:value="${testName}"/>
            </form>
        </div>
        <div class="col-2">
            <form th:action="@{/teacher/testCreating/saveAndQuit}">
                <input type="hidden" name="username" th:value="${#httpServletRequest.remoteUser}"/>
                <input type="hidden" th:each="chosenClassroom : ${chosenClassrooms}" name="classroomsKeys"
                       th:value="${chosenClassroom.key}"/>
                <input type="hidden" name="testName" th:value="${testName}"/>
                <input class="btn btn-outline-primary" type="submit" value="Save test and quit"/>
            </form>
        </div>
    </div>
    <a style="margin: 20px;" class="btn btn-outline-primary" th:href="@{/teacher}">Go back</a>
    <br/>
</div>
</body>
</html>