<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Results</title>
    <!--/*/ <th:block th:include="fragments/headerinc::head"></th:block> /*/-->
</head>
<body>

<!--/*/ <th:block th:include="fragments/teacher_header::header"></th:block> /*/-->

<div class="container-fluid work-space">
    <h3 th:text="${test.name}">Test name</h3>
    <table class="table table-sm">
        <thead>
        <tr>
            <th scope="col">Student name</th>
            <th scope="col">Mark</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="testMark : ${testMarks}">
            <td th:text="${testMark.key}"></td>
            <td th:text="${testMark.value}"></td>
        </tr>
        </tbody>
    </table>
    <a th:href="@{/teacher/classroomDetails(classroomKey=${classroom.key})}" class="btn btn-outline-success">Go Back</a>
</div>



</body>
</html>
