<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <!--Main.css-->
    <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}" />
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous"/>
    <!-- Font Awesome -->
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous"/>
    <!-- JQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!-- Bootstrap JS -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/js/bootstrap.min.js" integrity="sha384-a5N7Y/aK3qNeh15eJKGWxsqtnX/wWdSZSKp+81YjTmS15nvnvxKHuzaWwXHDli+4" crossorigin="anonymous"></script>
    <script th:src="@{/js/main.js}"></script>
</head>
<body>
<div th:fragment="header">
    <nav class="navbar fixed-top header justify-content-between">
        <div>
            <button class="btn btn-link show-menu"><i class="fa fa-bars"></i></button>
            <a class="navbar-brand">Student</a>
        </div>
        <div class="menu">
            <ul>
                <a th:href="@{/student}" class="active"><li><i class="fa fa-graduation-cap"></i> Classrooms</li></a>
                <a th:href="@{/student/studentResults}"><li><i class="fa fa-star"></i> Results</li></a>
                <a data-toggle="modal" data-target="#deleteMeModal">
                    <li><i class="fas fa-trash-alt"></i> Delete me</li>
                </a>
            </ul>
        </div>
        <form class="form-inline" th:action="@{/logout}" method="post">
            <label th:text="${#httpServletRequest.remoteUser}"></label>
            <button type="submit" class="btn btn-link">Logout</button>
        </form>
    </nav>
    <div class="modal fade" id="deleteMeModal" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Do you really want to delete your profile?</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Note! That all your users data also will be deleted
                </div>
                <div class="modal-footer">
                    <form th:action="@{/student/deleteMe}" method="post">
                        <input type="hidden" name="username" th:value="${#httpServletRequest.remoteUser}"/>
                        <input class="btn btn-outline-danger" type="submit" value="Delete anyway"/>
                    </form>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>