<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css"
          integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous"/>
    <title>Home</title>
</head>
<body>
    <br/>
    <div class="container">
        <form action="/session">
            <div class="form-group">
                <label style="font-weight: bold;">Input some text to translate to the Morse code:</label>
                <div>
                    <input class="form-control" type="text" name="input" placeholder="Enter text" required="required"/>
                </div>
            </div>
            <input id="submit" class="btn btn-outline-primary" type="submit" value="Submit"/>
        </form>
        <hr/>
        <span style="font-weight: bold;">Output:</span>
        <p style="font-size: 20px;" th:text="${output}"></p>
    </div>
</body>
</html>