@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700');
@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");

html, body {
    padding: 0;
    margin: 0;
}
*{
    font-family: 'Open Sans', sans-serif;
}
a, a:hover{
    text-decoration: none !important;
    display: inline-block;
}
#login{
    margin: 1em 0;
}
#register{
    margin-bottom: 4px;
}
.header{
    color: #fff !important;
    height: 6vh;
    background-color: #00bff3;
}
.header form button{
    color: #999;
}
.header form label{
    color: #ffffff;
}
.header form button:hover{
    color: #fff;
    text-decoration: none;
}
.show-menu{
    color: #fff !important;
    margin-bottom: 0.4em;
}
.show-menu:hover{
    color: #999;
}
.menu{
    position: absolute;
    top:6vh;
    width: 200px;
    display: none;
    left: 0;
    height: 94vh;
    background-color: #F4F5F7;
}
.menu ul{
    margin: 0;
    padding: 0;
}
.col-lg-2{
    padding: 0;
}
.menu ul li{
    padding: 0.8em 0.5em;
    color: #555;
    list-style: none;
}
.menu ul a:hover,.menu ul a.active{
    background-color: rgba(0,0,0,0.05);
}
.menu ul a{
    display: block;
    color: #555;
}
.menu ul ul{
    display: none;
    background-color: #fff;
}
.menu ul ul a{
    margin-left: 0.5em;
    border-bottom: 1px #fff solid;
}
.menu ul ul a:hover{
    background-color: #fff;
    border-bottom: 1px #E8E9EA solid;
}
.menu ul ul a li i{
    margin-right: 0.25em;
}
.work-space{
    margin-top: 6vh;
}
.classroom{
    background-color: #fff;
    -webkit-box-shadow: 0px 1px 5px 1px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 1px 5px 1px rgba(0,0,0,0.5);
    box-shadow: 0px 1px 5px 1px rgba(0,0,0,0.5);
    user-select: none;
    outline: none;
    border: 0px ;
    width: 18%;
    height: auto;
    min-height: 300px;
    margin-top: 2%;
    margin-right: 2%;
    position: relative;
    text-align: center;
    float: left;
    border-radius: 2px;
    opacity: 0.7;
}
.classroom:hover{
    opacity: 1;
}
.classroom img{
    width: 100%;
    height: auto;
}
.classroom h3{
    font-weight: 600;
    font-size: 20px;
    color: #202020;
}
.classroom h5{
    font-weight: 400;
    font-size: 20px;
    color: #202020;
}
.classroom span{
    font-weight: 300;
    font-size: 20px;
    color: #202020;
}
.teacher_classroom{
    background-color: #fff;
    -webkit-box-shadow: 0px 1px 5px 1px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 1px 5px 1px rgba(0,0,0,0.5);
    box-shadow: 0px 1px 5px 1px rgba(0,0,0,0.5);
    user-select: none;
    outline: none;
    border: 0px ;
    width: 18%;
    height: auto;
    min-height: 100px;
    margin-top: 2%;
    margin-right: 2%;
    padding: 0;
    position: relative;
    text-align: left;
    float: left;
    border-radius: 2px;
    opacity: 0.7;
}
.teacher_classroom:hover{
    opacity: 1;
}
.teacher_classroom h3{
    border-bottom: 1px #00BFF3 solid;
    padding:0.2em;
    font-size: 1.2em;
    margin: 0;
}
.teacher_classroom p{
    padding:0.2em;
    font-size: 1em;
    margin: 0;
}
#createClassroom{
    text-align: center;
    background-color: #00BFF3;
}
#createClassroom svg{
    width: 30%;
    color: #fff;
    fill: currentColor;
}
.testResults{
    -webkit-box-shadow: 0px 1px 5px 1px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 1px 5px 1px rgba(0,0,0,0.5);
    box-shadow: 0px 1px 5px 1px rgba(0,0,0,0.5);
    user-select: none;
    outline: none;
    border: 0px ;
    background-color: #00BFF3;
    color: #ffffff;
    width: 18%;
    height: auto;
    min-height: 50px;
    margin-top: 2%;
    margin-right: 2%;
    padding: 0;
    position: relative;
    text-align: left;
    float: left;
    border-radius: 2px;
    opacity: 0.7;
}
.testResults h3{
    margin-left: 0.5em;
}
.testResults:hover{
    opacity: 1;
}
.startTest{
    display: flex;
    -ms-align-items: center;
    align-items: center;
    position: absolute;
    background-color: #00BFF3;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0;
}
.startTest:hover{
    opacity: 1;
    -webkit-transition: opacity 0.3s ease-in-out;
    -moz-transition: opacity 0.3s ease-in-out;
    transition: opacity 0.3s ease-in-out;
}
.startTest i{
    text-align: center;
    color: #fff;
    font-size: 5em;
}
.test{
    background-color: #fff;
    -webkit-box-shadow: 0px 1px 5px 1px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 1px 5px 1px rgba(0,0,0,0.5);
    box-shadow: 0px 1px 5px 1px rgba(0,0,0,0.5);
    user-select: none;
    outline: none;
    border: 0px ;
    width: 18%;
    height: auto;
    min-height: 150px;
    margin-top: 2%;
    margin-right: 2%;
    position: relative;
    text-align: left;
    float: left;
    border-radius: 2px;
}
.test h3{
    font-size: 20px;
    margin: 0;
    border-bottom: 1px solid #00BFF3;
}
.test p{
    margin: 0;
    color: #333;
}
.test p span{
    font-weight: 400;
}
.test p b{
    color: #00BFF3;
    margin-left: 0.3em;
    font-weight: 600;
}
#enterClassroom{
    background-color: #00BFF3;
}
#enterClassroom svg{
    width: 40%;
    color: #fff;
    fill: currentColor;
}
#classrooms{
    margin-top: 1%;
}
.classroomInfo{
    margin-top: 6vh;
    line-height: 2.5em;
    border-bottom: 1px solid #00BFF3;
    margin-bottom: 0;
}
.test-header{
    color: #fff;
    height: 6vh;
    background-color: #02C03C;
}
.test-work-space{
    margin-top: 7vh;
}
.question{
    padding-bottom: 1em;
    border-bottom: 1px solid #02C03C;
}
.question pre{
    font-size: 0.875em;
    margin-left: 20px;
}
/*Radio*/
label{
    position: relative;
    cursor: pointer;
    color: #333;
    font-size: 0.875em;
}

input[type="radio"]{
    position: absolute;
    right: 9000px;
}
/*Radio box*/
input[type="radio"] + .label-text:before{
    content: "\f10c";
    font-family: "FontAwesome";
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing:antialiased;
    width: 1em;
    display: inline-block;
    margin-right: 5px;
}

input[type="radio"]:checked + .label-text:before{
    content: "\f192";
    color: #02C03C;
    animation: effect 250ms ease-in;
}

input[type="radio"]:disabled + .label-text{
    color: #aaa;
}

input[type="radio"]:disabled + .label-text:before{
    content: "\f111";
    color: #ccc;
}

.clear:after {
    content: "&nbsp;";
    display: block;
    clear: both;
    visibility: hidden;
    height: 0;
    line-height: 0;
}
.successMessage{
    display: none;
    margin-top: 6vh;
    width: 100%;
    z-index: 100;
}
.successRegister{
    display: none;
    width: 100%;
    z-index: 100;
}
.failMessage{
    display: none;
    margin-top: 6vh;
    width: 100%;
    z-index: 100;
}

/*Error page*/
#errorPage {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABoAAAAaCAYAAACpSkzOAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAALEgAACxIB0t1+/AAAABZ0RVh0Q3JlYXRpb24gVGltZQAxMC8yOS8xMiKqq3kAAAAcdEVYdFNvZnR3YXJlAEFkb2JlIEZpcmV3b3JrcyBDUzVxteM2AAABHklEQVRIib2Vyw6EIAxFW5idr///Qx9sfG3pLEyJ3tAwi5EmBqRo7vHawiEEERHS6x7MTMxMVv6+z3tPMUYSkfTM/R0fEaG2bbMv+Gc4nZzn+dN4HAcREa3r+hi3bcuu68jLskhVIlW073tWaYlQ9+F9IpqmSfq+fwskhdO/AwmUTJXrOuaRQNeRkOd5lq7rXmS5InmERKoER/QMvUAPlZDHcZRhGN4CSeGY+aHMqgcks5RrHv/eeh455x5KrMq2yHQdibDO6ncG/KZWL7M8xDyS1/MIO0NJqdULLS81X6/X6aR0nqBSJcPeZnlZrzN477NKURn2Nus8sjzmEII0TfMiyxUuxphVWjpJkbx0btUnshRihVv70Bv8ItXq6Asoi/ZiCbU6YgAAAABJRU5ErkJggg==);
}
#errorPage h1 {
    font-size: 60px;
}
#errorPage h4 {
    font-weight: normal;
}